h1{
    text-align: center;
    color: rgb(105, 82, 126);
}

body{
    background-color: rgb(223, 255, 149);
}

button{
    box-shadow: 5px 5px rgb(107, 25, 25);
    background-color: rgb(77, 77, 223);
    color: aliceblue;
}

.hidden{
    visibility: hidden;
}

#range{
    font-size: .8em;
}

#price{
    color: rgb(196, 40, 105);
    font-size: 1.4em;

}

h2{
    text-align: center;
}

#cost,
#range{
    color: rgb(33, 33, 165);
}
